*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

h2{
    padding: 20px;
    font-size: 1.5em;}
p{
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

header{
 
    position: fixed;
    width: 100%;
    background-color:aliceblue;
    padding: 15px 12px;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header div{
    font-size: 0.7em;
    display: flex;
    align-items: center;
    text-align: center;
}

header a{
    padding: 5px 20px;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: gray;
}

#Main{
    font-size: 3em;
    background-image: 
    linear-gradient(0deg,
                     rgba(0,0,0,0.5), 
                     rgba(0,0,0,0.5)),
    url(/media/76YM.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

h1{
    padding-top: 350px;
}

#Studies{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#Studies .modulo{
    color: black;
    font-size: 0.3em;
    width: 100%;
    height: 100px;
    border-radius: 30px;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#Studies .container{
    display: flex;
    margin: 10%;
    flex-direction: column;
    align-items: center;
}

#Studies .modulo:hover{
    color: gray;
}

#SobreMi{
    margin: 50px;
}

#Projects{
    height: 225px;
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#Projects .module{
    border: 1px solid black;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

footer{
    background-color: rgb(39, 39, 39);
    color: white;display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .contacto{
    margin-top: 20px;
    background-color: gray;
    padding: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


@media(min-width: 720px){
    #Main{
        padding-top: 3%;
        background-image: 
        linear-gradient(0deg,
                         rgba(0,0,0,0.5), 
                         rgba(0,0,0,0.5)),
        url(/media/76YM.gif);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    h1{
        padding-top: 0px;
        padding-left: 17.5%;
    }

    #Studies{
        width: 35%;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    #Studies .modulo{
        font-size: 0.25em;
        color: black;
        width: 80%;
        height: 150px;
        border-radius: 30px;
        margin: 0px;
        margin-left: 0px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    #Studies .img-container{
        width: 60%;
        height: 100%;
        background-image: 
        linear-gradient(0deg,
                         rgba(0,0,0,0.5), 
                         rgba(0,0,0,0.5)),
        url(/media/APLogo-20-20.png);
        background-position: center center;
        background-size: cover;
    }

    #Studies .container{
        width: 40%;
        display: flex;
        margin-right: 9%;
        flex-direction: column;
        align-items: center;
    }
}